<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--<configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="TiempoTolerancia" value="10"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <connectionStrings>
    <add name="BD" connectionString="Data Source=.;Initial Catalog=lavadero;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BD2"  connectionString="Data Source=DROSSO\SQLEXPRESS;Initial Catalog=lavadero ;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BACKUP" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BACKUP3" connectionString="Data Source=.\SQL_UAI;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BACKUP1" connectionString="Data Source=PC_101SYSTEM15\LOCAL;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization uiCulture="es" culture="es-AR"/>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Forms">
      <!--<forms slidingExpiration="true" timeout="5" enableCrossAppRedirects="true" loginUrl="http://localhost:4556/AplicacionWeb/login.aspx"/>-->
    <forms slidingExpiration="true" enableCrossAppRedirects="true" timeout="25" loginUrl="Default.aspx"/>
    </authentication>
    <!--    <machineKey validationKey="E8B48AC4B8C8F590D64918A898AF25081D2F3278F76919014842122056016B3B990BB685EFAFB7B9645839B1E93F664D4EA5C2E4A4AD45D0330397F31777A0E3" decryptionKey="D88199F7AECB5463D5A18858E779317391238C2300067C4013052A2E75C99ADE" validation="SHA1" decryption="AES"/>
  
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <!-- ? Anonimos , * Autenticados-->
  <location path="frontend">
    <system.web>
      <authorization>
        <allow roles="1"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="alta">
    <system.web>
      <authorization>
        <allow roles="1"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="aplicacion">
    <system.web>
      <authorization>
        <allow roles="2"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="backend">
    <system.web>
      <authorization>
        <allow roles="2"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="cargapedidos">
    <system.web>
      <authorization>
        <allow roles="V,U,G"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="especiales">
    <system.web>
      <authorization>
        <allow roles="P"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="gestionzona">
    <system.web>
      <authorization>
        <allow roles="V,U,G"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="gestionzona/solicitudestadodeuda.aspx">
    <system.web>
      <authorization>
        <allow roles="G,V"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="gestionzona/restaurarpedido.aspx">
    <system.web>
      <authorization>
        <allow roles="U,V"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="informes">
    <system.web>
      <authorization>
        <allow roles="G,V,U,C,H"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="informes/consultas.aspx">
    <system.web>
      <authorization>
        <allow roles="G,U,V,D"/>
        <deny roles="C,P"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="informes/consultasPendientes.aspx">
    <system.web>
      <authorization>
        <allow roles="V,U,D,G"/>
        <deny roles="C,P"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="informes/consultasAnulados.aspx">
    <system.web>
      <authorization>
        <allow roles="V,U,D,G"/>
        <deny roles="C,P"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="informes/evolucionpedidos.aspx">
    <system.web>
      <authorization>
        <allow roles="G,V,U,C,H"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="informes/evolucionpedidosgral.aspx">
    <system.web>
      <authorization>
        <allow roles="V"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="informes/evolucionpedidosgrupo.aspx">
    <system.web>
      <authorization>
        <allow roles="G,U,V"/>
        <deny roles="C,P,H"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="micarga">
    <system.web>
      <authorization>
        <allow roles="R,C,H,U,V,G,P"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="micarga/premios.aspx">
    <system.web>
      <authorization>
        <allow roles="R,C,H"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="micarga/notasdecredito.aspx">
    <system.web>
      <authorization>
        <allow roles="R,C,H"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="micuenta/domicilioalternativo.aspx">
    <system.web>
      <authorization>
        <allow roles="R,C,H"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="revendedoras">
    <system.web>
      <authorization>
        <allow roles="C,H"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="tmk">
    <system.web>
      <authorization>
        <allow users="25036948,24337995,5277035"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="micarga/conferencias.aspx">
    <system.web>
      <authorization>
        <allow roles="R,C"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->
</configuration>